.react-calendar {
    width: 500px;
    max-width: 100%;
    background-color: #FFF9E4;
    color: #222;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.125em;
    padding: 20px;
    border: none;
    font-weight: bold;
  }
  
  /* Add spacing between tiles */
  .react-calendar__tile {
    margin: 2px;
    padding: 8px;
    border-radius: 8px;   
  }

  .week-view .react-calendar__tile {
    height: 170px;
    font-size: 20px;
    font-family: Karla;
  }
  
  .react-calendar__navigation button {
    color: #808080;
    min-width: 44px;
    background: none;
    font-size: 16px;
    margin-top: 8px;
  }
  
  .react-calendar__navigation button:enabled:hover,
  .react-calendar__navigation button:enabled:focus {
    background-color: #f8f8fa;
  }
  
  .react-calendar__navigation button[disabled] {
    background-color: #f0f0f0;
  }

  .react-calendar__navigation__label .react-calendar__navigation__label__labelText {
    color: black !important;
    font-family: Karla;
    font-size: 25px;
  }

  .react-calendar__navigation__label:hover {
    background-color: #FFF9E4 !important;
  }

  button[disabled].react-calendar__tile {
    display: none !important;
  }
  .react-calendar__navigation__next2-button {
    display: none !important;
  }
  .react-calendar__navigation__prev2-button {
    display: none !important;
  }
  
  abbr[title] {
    text-decoration: none;
  }
  
  .react-calendar__tile--now {
    background: #E2DBC2;
    font-weight: bold;
    color: #222;
  }
  
  .react-calendar__tile--now:enabled:hover,
  .react-calendar__tile--now:enabled:focus {
    background: #ae9f6e;
    font-weight: bold;
    color: white;
  }
  
  .react-calendar__tile--active {
    background: #808080;
    font-weight: bold;
    color: white;
  }
  
  .react-calendar__tile--active:enabled:hover,
  .react-calendar__tile--active:enabled:focus {
    background: #808080;
    color: white;
  }
  
  /* Update tile styles */
  .react-calendar__tile:enabled:hover,
  .react-calendar__tile:enabled:focus {
    border-radius: 8px;
  }
  
  .react-calendar__tile--now {
    font-weight: bold;
    color: #222;
  }
  
  /* Add styles for ZOR-based tiles */
  .react-calendar .blue {
    background-color: #0886CE;
    color: white;
  }
  
  .react-calendar .green {
    background-color: #459A4C;
    color: white;
  }
  
  .react-calendar .yellow {
    background-color: #FDDA04;
    color: #222;
  }
  
  .react-calendar .orange {
    background-color: #F06403;
    color: white;
  }
  
  @media (max-width: 400px) {
    .react-calendar__navigation__label .react-calendar__navigation__label__labelText {
      font-size: 18px !important;
    }
  }